    .wrapper, html, body {
        height:100%;
        margin:0;
      	overflow: hidden;
    }

body{
	background-size: cover;
  	background-color:#666;
  	color:777;
}

.unselectable {
	-webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    cursor: default;
}
  
.inline-block{
	display: inline-block; 
}

.scroll-y{
  overflow-y: scroll;
}

.bold{
  font-weight: bold;
}

.white{
  color: white;
}

.width200{
    width:200px;
}

.width100{
    width:100px;
}

.width150{
    width:150px;
}

.width30{
    width:30px;
}

.hand{
	cursor: pointer; 
}
  
.absolute{
	position:absolute; 
}
  
.arcane-panel {
	width:100%;
    height:100%;
        border: #333;
    border-width: 1px;
    border-style: solid;
  	background-color:#262626;
}

.frame {
	width:100%;
    height:100%;
  	overflow:hidden;

}

.frameVertical{
	float:left;
}

.frameset {
	width:100%;
    height:100%;
  	overflow:hidden;
}

.frameHandle {
  background-color: #222;
}

.frameHandleHorizontal {
    height:2px;
  	width:100%;
    cursor: row-resize;	
}

.frameHandleVertical {
    height:100%;
  	width:2px;
    cursor: col-resize;
  	float:left;
}

.absolute {
 	position:absolute;
	top:0px;
	left:0px;
}

.view {
	width:100%;
    height:100%; 
}

.navBarApp {
	width:100%;
    height:100%;

    display: flex;
  	flex-direction: column;
  	align-items: 'stretch';
}

.navBarAppVertical{
	width:100%;
    height:100%;

    display: flex;
  	flex-direction: row;
  	align-items: 'stretch';
}

.navBarTop {
	width:100%;
    height:51px;
}

.navBarLeft {
	height:100%;
    width:45px;
  	background-color: rgba(0,0,0,1);
}

.navBarContainer {
	height:100%;
	flex: 1;
    overflow:hidden;
}

.navBarChevy {
    position:absolute;
    bottom:0px;
        left: 17px;
}

.NavItemLabel{
    display: inline-block;
    margin-left: 16px;
}

.navBarChevy:hover {
    color:#fff;

}

.toggledNav{
    width:200px;
}

.tabGroup{
  	height:100%;
    width:100%;
    
    display: flex;
  	flex-direction: column;
  	align-items: stretch;
}

.flexcollumn{
    display: flex;
  	flex-direction: column;
  	align-items: stretch;
  	height: 100%;
}
  
.arcane-tabs{
  	width:100%;
    background-color: #222;
}

.tabContent{
	flex: 1;
  	width:100%;
    overflow:hidden;
  	background-color:#222;
}

.panelTab{
	display: inline-block;
  	background-color: rgba(0,0,0,0);
    padding-left: 10px;
  	padding-right: 10px;
  	padding-top: 5px;
  	padding-bottom: 3px;
}

.panelTab:hover{
	color:#fff;
}

.panelTab.active{
    color: #fff;
    background-color: #333;
}

.panelTab.focussed{
    border-top-color: #2a9fd6;
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 3px;
}

.selectBox{	
	position:absolute;
  	background-color: rgba(51, 204, 255, 0.5);
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(1, 1, 1, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  background: #333;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: #444; /* Some darker color when you click it */
}
